[submodule "3rd-party/SGX_SQLite"]
	path = 3rd-party/SGX_SQLite
	url = https://github.com/yerzhan7/SGX_SQLite
[submodule "3rd-party/sgx-perf"]
	path = 3rd-party/sgx-perf
	url = https://github.com/ibr-ds/sgx-perf.git
